@import url('https://fonts.googleapis.com/css?family=Lato');

/* GLOBAL */
body {
    font-family: faricy-new-web, lato;
    font-style: normal;
    font-weight: 400;
}

body, html { overflow-x: hidden; }

p {
    font-size: 18px; 
    line-height: 33px;
    font-weight: 400;
}

.col-xs-12 {
    margin-left: 15px;
}

b {
    font-weight: 700;
}

h1{
    font-size: 48px;
    letter-spacing: 3px;
}

h2{
    font-weight:900;
    font-size: 24px;
    line-height: 33px;
}

h3 {
    font-size: 20px;
    letter-spacing: 1.5px;
}

h4 {
    font-size: 12px;
}

/*NAVIGATION*/
.navbar {
    margin-bottom:0;
}

.navadjust {
    margin-right: 6%;
    margin-left: 6%;
}

.logoadjust {
    padding-left: 4%;
    padding-right: 4%;
 }

.navbar-brand {
    padding-left: 0;
    padding-right: 0;
    margin-left: 4%;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(232, 247, 255, 1);
    border-bottom-width: 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(147, 164, 175, 1);
    background-color: rgba(224, 62, 62, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(96, 150, 186, 1);
    background-color: rgba(231, 231, 231, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #e8f7ff;
}


/*HEADER*/
.jumbotron {
  display: flex;
  align-items: center;
  background-image: ;
  background-size: cover;
  color: #ffffff;
  height: 480px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron .img-responsive {
    display:block;
    max-width: 35%;
    min-width: 350px;
    max-height: auto;
}


/*CONTENT*/

.intro {
    margin-left: 10%;
    margin-right: 10%;
}

.body{
    margin-top: 50px;
}

.statement {
    margin-bottom: 0px;
}

.article-title {
    margin-top: 52px;
    padding-left: 17.56%;
    padding-right: 17.56%; 
}

.tag{
    margin-top: 16px;
    font-size: 12px;
    padding-left: 17.56%;
    padding-right: 17.56%; 
}

.content-title2 {
    margin-top: 16px;
    padding-left: 17.56%;
    padding-right: 17.56%;
}

.content-title1 {
    margin-top: 53px;
    padding-left: 17.56%;
    padding-right: 17.56%;
}

.content-title3 {
    margin-top: 66px;
    padding-left: 16.5%;
    padding-right: 17.56%;
}

.content-title4 {
    margin-top: 132px;
    padding-left: 16.5%;
    padding-right: 17.56%;
}


.content-title-inblock {
    padding-left: 17.56%;
    padding-right: 17.56%;
}

.content{
    margin-top: 23px;
    padding-left: 17.56%;
    padding-right: 17.56%;
}

.content-bottom {
    margin-bottom: 66px;
}


#rectangle{
    margin-top:66px; 
    width:100%;
    height:300px;
    background-color:mistyrose;
}

.subtitle {
    padding-top:5px;
    padding-bottom: 5px;
    
}

.maincontent {
    margin-top: 64px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.imagecontent{
    margin-top: 16px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.picspace {
    padding-top: 16px;
}

.secondarycontent {
    margin-top: 16px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.pixcontent {
    margin: 16px;
    padding-left: 15%;
    padding-right: 15%;
}

.descriptiontext{
    font-size: 12px;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.5;
}

.picdiscspace {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sdescriptiontext {
    font-size: 12px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5px;
    line-height: 1.5;
}


/*FOOTER*/

.copyright {
    font-size: 14px;
}

.crspace {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    margin-top: 60px;
    margin-bottom: 20px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}