
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
}
.jumbotron {
  display: flex;
  background-size: cover;
  background-color: #EDF5FF;
  height: 100vh;
}

.logo {
    align-content: center;
}

.badge{
    align-content: center;
}

.navigation {
    padding: 0px;
    color:black;
}
.arrow {
    padding-left: -100px;
}
ul {
    font: DIN-Regular;
    font-size: 12px;
    padding:10px;
    padding-bottom: 20px;
    list-style-type: none;
    text-align: center;    
}

li {
    padding: 8px;
    display: inline-block;
}

a {
    padding:8px;
}

.mainintro {
    text-align: center;
}

.content {
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

h1 {
    padding: 25px;
    margin: auto;
};

.centertext h2{
    font-weight: 800;
}

.arrow {
    padding-top: 10px;
}

