
.jumbotron {
  display: flex;
  background-size: cover;
  background-color: #EDF5FF;
  height: 100vh;
}

.arrow {
    align-content: center;
    margin: auto;
    padding: 10px;
}

.logo {
    align-content: center;
}

.badge{
    align-content: center;
}

.navigation {
    padding: 0px;
    color:black;
}

.disabled {
    color: darkgrey;
}

ul {
    font: DIN-Regular;
    font-size: 12px;
    padding:10px;
    padding-top: 25px;
    padding-bottom: 15px;
    list-style-type: none;
    text-align: center;    
}

li {
    padding-top: 10px;
    padding: 8px;
    display: inline-block;
}

a {
    color: black;
    padding:8px;
}

.mainintro {
    text-align: center;
}

.content {
    padding: 25px;
}

.centertext{
    padding: 25px;
    margin: auto;
}

p {
    text-align: left;
}
